[
{
   "data_flow_id": "103",
   "data_flow_group": "A2",
   "source_system": "MYSQL",
   "source_format": "cloudFiles",
   "source_details": {
      "source_database": "APP",
      "source_table": "CUSTOMERS",
      "source_path_it": "{uc_volume_path}/integration_tests/resources/data/customers_delta",
      "source_metadata": {
            "select_metadata_cols": {
               "input_file_name": "_metadata.file_name",
               "input_file_path": "_metadata.file_path"
            }
      },
      "source_schema_path": "{uc_volume_path}/integration_tests/resources/customers.ddl"
   },
   "bronze_catalog_it": "{uc_catalog_name}",
   "bronze_database_it": "{bronze_schema}",
   "bronze_table": "customers_delta",
   "bronze_reader_options": {
      "cloudFiles.format": "json",
      "cloudFiles.inferColumnTypes": "true",
      "cloudFiles.rescuedDataColumn": "_rescued_data"
   },
   "bronze_table_path_it": "{uc_volume_path}/data/bronze/customers_delta",
   "bronze_table_properties": {
         "pipelines.autoOptimize.managed": "true"
   },
   "bronze_cluster_by":["id", "email"],    
   "bronze_data_quality_expectations_json_it": "{uc_volume_path}/integration_tests/conf/dqe/customers/bronze_data_quality_expectations.json",
   "bronze_catalog_quarantine_it": "{uc_catalog_name}",
   "bronze_database_quarantine_it": "{bronze_schema}",
   "bronze_quarantine_table": "customers_delta_quarantine",
   "bronze_quarantine_table_path_it": "{uc_volume_path}/data/bronze/customers_quarantine_delta",  
   "bronze_quarantine_table_properties": {
         "pipelines.reset.allowed": "false"
   },
   "bronze_quarantine_table_cluster_by":["id", "email"]
}
]