[{
   "data_flow_id": "100",
   "data_flow_group": "A1",
   "source_system": "MYSQL",
   "source_format": "cloudFiles",
   "source_details": {
      "source_database": "APP",
      "source_table": "CUSTOMERS",
      "source_path_it": "{dbfs_path}/integration_tests/resources/data/customers"
   },
   "bronze_database_it": "{uc_catalog_name}.{bronze_schema}",
   "bronze_table": "customers",
   "bronze_reader_options": {
      "cloudFiles.format": "json",
      "cloudFiles.inferColumnTypes": "true",
      "cloudFiles.rescuedDataColumn": "_rescued_data"
   },
   "bronze_table_path_it": "{dbfs_path}/data/bronze/customers",
   "bronze_table_properties": {
         "pipelines.autoOptimize.managed": "true",
         "pipelines.autoOptimize.zOrderCols": "id, email"
   },    
   "bronze_data_quality_expectations_json_it": "{dbfs_path}/integration_tests/conf/dqe/customers/bronze_data_quality_expectations.json",
   "bronze_database_quarantine_it": "{uc_catalog_name}.{bronze_schema}",
   "bronze_quarantine_table": "customers_quarantine",
   "bronze_quarantine_table_path_it": "{dbfs_path}/data/bronze/customers_quarantine",  
   "bronze_quarantine_table_properties": {
         "pipelines.reset.allowed": "false",
         "pipelines.autoOptimize.zOrderCols": "id, email"
   },       
   "silver_database_it": "{uc_catalog_name}.{silver_schema}",
   "silver_table": "customers",
   "silver_cdc_apply_changes": {
      "keys": [
         "id"
      ],
      "sequence_by": "operation_date",
      "scd_type": "1",
      "apply_as_deletes": "operation = 'DELETE'",
      "except_column_list": [
         "operation",
         "operation_date",
         "_rescued_data"
      ]
   },
   "silver_table_path_it": "{dbfs_path}/data/silver/customers",
   "silver_transformation_json_it": "{dbfs_path}/integration_tests/conf/silver_transformations.json",
   "silver_table_properties": {
         "pipelines.reset.allowed": "false",
         "pipelines.autoOptimize.zOrderCols": "id, email"         
   }   
},
{
   "data_flow_id": "101",
   "data_flow_group": "A1",
   "source_system": "MYSQL",
   "source_format": "cloudFiles",
   "source_details": {
      "source_database": "APP",
      "source_table": "TRANSACTIONS",
      "source_path_it": "{dbfs_path}/integration_tests/resources/data/transactions"
   },   
   "bronze_database_it": "{uc_catalog_name}.{bronze_schema}",
   "bronze_table": "transactions",
   "bronze_reader_options": {
      "cloudFiles.format": "json",
      "cloudFiles.inferColumnTypes": "true",
      "cloudFiles.rescuedDataColumn": "_rescued_data"
   },
   "bronze_table_path_it": "{dbfs_path}/data/bronze/transactions",
   "bronze_table_properties": {
         "pipelines.reset.allowed": "true",
         "pipelines.autoOptimize.zOrderCols": "id, customer_id"    
   },
   "bronze_data_quality_expectations_json_it": "{dbfs_path}/integration_tests/conf/dqe/transactions/bronze_data_quality_expectations.json",
   "bronze_database_quarantine_it": "{uc_catalog_name}.{bronze_schema}",
   "bronze_quarantine_table": "transactions_quarantine",
   "bronze_quarantine_table_path_it": "{dbfs_path}/data/bronze/transactions_quarantine",
   "bronze_quarantine_table_properties": {
         "pipelines.reset.allowed": "true",
         "pipelines.autoOptimize.managed": "false",
         "pipelines.autoOptimize.zOrderCols": "id, customer_id"   
   },     
   "silver_database_it": "{uc_catalog_name}.{silver_schema}",
   "silver_table": "transactions",
   "silver_cdc_apply_changes": {
      "keys": [
         "id"
      ],
      "sequence_by": "operation_date",
      "scd_type": "1",
      "apply_as_deletes": "operation = 'DELETE'",
      "except_column_list": [
         "operation",
         "operation_date",
         "_rescued_data"
      ]
   },
   "silver_table_path_it": "{dbfs_path}/data/silver/transactions",
   "silver_transformation_json_it": "{dbfs_path}/integration_tests/conf/silver_transformations.json",
   "silver_table_properties": {
         "pipelines.reset.allowed": "false",
         "pipelines.autoOptimize.zOrderCols": "id, customer_id"         
   }  
}
]