[
    {
        "data_flow_id": "103",
        "data_flow_group": "A1",
        "source_system": "Sensor Device",
        "source_format": "eventhub",
        "source_details": {
            "source_schema_path": "{uc_volume_path}/integration_tests/resources/eventhub_iot_schema.ddl",
            "eventhub.accessKeyName": "{eventhub_consumer_accesskey_name}",
            "eventhub.name": "{eventhub_name}",
            "eventhub.accessKeySecretName": "{eventhub_accesskey_secret_name}",
            "eventhub.secretsScopeName": "{eventhub_secrets_scope_name}",
            "kafka.sasl.mechanism": "PLAIN",
            "kafka.security.protocol": "SASL_SSL",
            "eventhub.namespace": "{eventhub_namespace}",
            "eventhub.port": "{eventhub_port}"
        },
        "bronze_reader_options": {
            "maxOffsetsPerTrigger": "50000",
            "startingOffsets": "earliest",
            "failOnDataLoss": "false",
            "kafka.request.timeout.ms": "60000",
            "kafka.session.timeout.ms": "60000"
        },
        "bronze_catalog_it": "{uc_catalog_name}",
        "bronze_database_it": "{bronze_schema}",
        "bronze_table": "bronze_{run_id}_iot",
        "bronze_partition_columns": "date",
        "bronze_data_quality_expectations_json_it": "{uc_volume_path}/integration_tests/conf/dqe/iot/bronze_data_quality_expectations.json",
        "bronze_catalog_quarantine_it": "{uc_catalog_name}",
        "bronze_database_quarantine_it": "{bronze_schema}",
        "bronze_quarantine_table": "bronze_{run_id}_iot_quarantine",
        "bronze_quarantine_table_path_it": "{uc_volume_path}/data/bronze/iot_quarantine",
        "bronze_sinks": [
            {
                "name": "bronze_eventhub_sink",
                "format": "eventhub",
                "options": {
                    "eventhub.accessKeyName": "{eventhub_producer_accesskey_name}",
                    "eventhub.name": "{eventhub_sink_name}",
                    "eventhub.accessKeySecretName": "{eventhub_accesskey_secret_name}",
                    "eventhub.secretsScopeName": "{eventhub_secrets_scope_name}",
                    "kafka.sasl.mechanism": "PLAIN",
                    "kafka.security.protocol": "SASL_SSL",
                    "eventhub.namespace": "{eventhub_namespace}",
                    "eventhub.port": "{eventhub_port}"
                },
                "select_exp":["value"],
                "where_clause":"value is not null"  
            }
        ]
    }
]