[
    {
        "data_flow_id": "103",
        "data_flow_group": "A1",
        "source_system": "Sensor Device",
        "source_format": "kafka",
        "source_details": {
            "source_schema_path": "{uc_volume_path}/integration_tests/resources/eventhub_iot_schema.ddl",
            "subscribe": "{kafka_source_topic}",
            "kafka.security.protocol": "PLAINTEXT",            
            "kafka_source_servers_secrets_scope_name":"{kafka_source_servers_secrets_scope_name}",
            "kafka_source_servers_secrets_scope_key":"{kafka_source_servers_secrets_scope_key}"
        },
        "bronze_reader_options": {
            "startingOffsets": "earliest",
            "kafka.request.timeout.ms": "60000",
            "kafka.session.timeout.ms": "60000"
        },
        "bronze_catalog_it": "{uc_catalog_name}",
        "bronze_database_it": "{bronze_schema}",
        "bronze_table": "bronze_{run_id}_iot",
        "bronze_partition_columns": "date",
        "bronze_table_path_it": "{uc_volume_path}/data/bronze/iot",
        "bronze_data_quality_expectations_json_it": "{uc_volume_path}/integration_tests/conf/dqe/iot/bronze_data_quality_expectations.json",
        "bronze_catalog_quarantine_it": "{uc_catalog_name}",
        "bronze_database_quarantine_it": "{bronze_schema}",
        "bronze_quarantine_table": "bronze_{run_id}_iot_quarantine",
        "bronze_quarantine_table_path_it": "{uc_volume_path}/data/bronze/iot_quarantine",
        "bronze_sinks": [
                {
                    "name": "bronze_customer_kafka_sink1",
                    "format": "kafka",
                    "options": {
                        "kafka_sink_servers_secret_scope_name":"{kafka_sink_servers_secret_scope_name}",
                        "kafka_sink_servers_secret_scope_key":"{kafka_sink_servers_secret_scope_key}",
                        "kafka.security.protocol":"PLAINTEXT",
                        "topic":"{kafka_sink_topic}_1"
                    },
                    "select_exp":["value"],
                    "where_clause":"value is not null"  
                },
                {
                    "name": "bronze_customer_kafka_sink2",
                    "format": "kafka",
                    "options": {
                        "kafka_sink_servers_secret_scope_name":"{kafka_sink_servers_secret_scope_name}",
                        "kafka_sink_servers_secret_scope_key":"{kafka_sink_servers_secret_scope_key}",
                                               "kafka.security.protocol":"PLAINTEXT",
                        "kafka.security.protocol":"PLAINTEXT",
                        "topic":"{kafka_sink_topic}_2"
                    },
                    "select_exp":["value"],
                    "where_clause":"value is not null"                    
                }
        ]        
    }
]