[
     {

   "data_flow_id": "201",
   "data_flow_group": "A1",
   "source_system": "delta",
   "source_format": "snapshot",
   "source_details": {
      "source_path_it": "{uc_volume_path}/integration_tests/resources/data/snapshots/products/LOAD_",
      "snapshot_format": "csv"
   },
   "bronze_reader_options": {
      "header": "true"
   },        
   "bronze_database_it": "{uc_catalog_name}.{bronze_schema}",
   "bronze_table": "products",
   "bronze_apply_changes_from_snapshot": {
   "keys": [
      "product_id"
   ],
   "scd_type": "2"
   },
   "silver_catalog_it": "{uc_catalog_name}",
   "silver_database_it": "{silver_schema}",
   "silver_table": "products",
   "silver_table_comment": "products silver table",
   "silver_apply_changes_from_snapshot":{
       "keys": [
         "product_id"
      ],
      "scd_type": "2"
   },   
   "silver_transformation_json_it": "{uc_volume_path}/integration_tests/conf/silver_transformations_snapshot.json"
},
{
         "data_flow_id": "202",
        "data_flow_group": "A1",
        "source_system": "delta",
        "source_format": "snapshot",
        "source_details": {
           "source_path_it": "{uc_volume_path}/integration_tests/resources/data/snapshots/stores/LOAD_",
           "snapshot_format": "csv"
        },
         "bronze_reader_options": {
            "header": "true"
         },          
        "bronze_database_it": "{uc_catalog_name}.{bronze_schema}",
        "bronze_table": "stores",
        "bronze_apply_changes_from_snapshot": {
         "keys": [
            "store_id"
         ],
         "scd_type": "1"
      },
   "silver_catalog_it": "{uc_catalog_name}",
   "silver_database_it": "{silver_schema}",
   "silver_table": "stores",
   "silver_apply_changes_from_snapshot":{
       "keys": [
         "store_id"
      ],
      "scd_type": "1"
   },
   "silver_transformation_json_it": "{uc_volume_path}/integration_tests/conf/silver_transformations_snapshot.json"
}
  ]