[run]
branch = True
command_line = -m unittest
include = src/*.py
omit =
    */site-packages/*
    tests/*
    src/install.py
    src/uninstall.py
    src/config.py

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:

ignore_errors = True

[html]
directory = coverage_html_report